MONGODB_URI = mongodb+srv://s5kutesv5vip:thien123@mern-ecommerce.o0vh6.mongodb.net/MERN-Ecommerce?retryWrites=true&w=majority&appName=MERN-Ecommerce
TOKEN_SECRET_KEY = SVSBDJVSVJBSDVJSBSJKCNSDVRAPQKMSKANLVDMS
FRONTEND_URL = http://localhost:3000
STRIPE_SECRET_KEY = sk_test_51QQ7NmRpxzFgwKXFQZQRGoznZ368bXSRsyXssinoLfTAPNiMK8jYdxiiEmE5TzqoqX9nUYdRWBKFRy8BR4t3Tqg70062UMdlQR
STRIPE_ENDPOINT_WEBHOOK_SECRET_KEY = "whsec_678343b3b465807c7e2255b0f8938dc2e676667b17892f05ced6fc267be7eb60"
